fire==0.1.3
ftfy==5.5.1
nltk==3.4.1
numpy==1.16.3
pandas==0.23.4
plotly==3.10.0
pyfastcopy==1.0.3
pymongo==3.9.0
spacy==2.1.3
spacy-readability==1.4.1
ssdeep==3.3
ujson==1.35

## must be installed via python -m spacy download en_core_web_sm
## ...so don't install via `pip install -r requirements.txt`
## and instead use: `make setup` (which will also install requirements.txt)
# en-core-web-sm==2.1.0
# en-core-web-md==2.1.0
# en-core-web-md==2.1.0
